@{
    ViewData["Title"] = "Carte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carte de la salle</h1>
<img src="/image/map.jpg" alt="Carte de la salle">

<p> Adresse : 
    5 rue de france 
    74000 Annecy FRANCE
    Tel 04 50 00 00 00</p>