@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/image/organisation.png" alt="Schema organisation">
</div>      

<div>
    <h2>Données de base</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Liste des tournois</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Carte">Liste des postes</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Reglement">Liste des Jeux</a>
        </li>
    </ul>
    <h2>Personne</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Liste des participants</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Carte">Liste des personnes</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Reglement">Liste des membres de l'organisation</a>
        </li>
    </ul>
    <h2>Matche</h2>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Liste des tournois</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Carte">Liste des resultats</a>
        </li>
        
    </ul>
</div>
